.product_item {
    display: block;
    float: left;
    margin-bottom: 20px;
    margin-right: 10px;
    width: 205px;
}

.product-anotashion {
    border: 1px solid #e0dfdf;
    display: inline-block;
    height: auto;
    width: 205px;
}

.product-image {
    display: block;
    height: 180px;
    overflow: hidden;
    padding: 25px 25px 0;
    text-align: center;
    width: 170px;
}

.product-title {
    background-color: #f2f2f2;
    color: #545353;
    display: table-cell;
    font-family: Tahoma;
    font-size: 18px;
    height: 45px;
    padding: 5px 20px;
    text-align: center;
    text-transform: uppercase;
    vertical-align: middle;
    width: 180px;
}

.product-anotashion:hover {
    border: 1px solid #757575;
}

.product-anotashion a:hover {
    text-decoration: none;
}

@media screen and (max-width: 319px) {
    .product-anotashion {
        margin:0 auto;
    }
    
    .product_item {
        margin:0 auto;
        float:none;
        margin-bottom:20px;
    }
    
    .product_items {
       width: 290px;
    }
    
    .product-anotashion {
        width: 200px;
    }
    
    .product_item {
        width: 200px;
    }
}

@media screen and (min-width: 320px) /* and (min-height: 440px) */ and (max-width: 479px) {
    .product-anotashion {
        margin:0 auto;
    }
    
    .product_item {
        margin:0 auto;
        float:none;
        margin-bottom:20px;
    }
    
    .product_items {
       width: 290px;
    }
    
    .product-anotashion {
        width: 220px;
    }
    
    .product_item {
        width: 220px;
    }
}

@media screen and (min-width: 480px) /* and (min-height: 440px) */ and (max-width: 767px) {
    .product-anotashion {
        width: 180px;
    }
    
    .product_item {
        width: 180px;
    }

}