#top_nav {
/*     background-color: #c3d5c0;
    color: #000; 
    background-color: #3c7c8b;*/
    color: white;
    //float: left;
    font-family: Tahoma;
    font-size: 0.85em;
    //height: 50px;
    //margin-bottom: 5px;
}

#top_nav a {
    border-right: 1px solid #fff;
    //color: #3a3a3a;
    color: #fff;
    display: block;
    //float: left;
    font-size: 13px;
    height: 20px;
    padding: 15px 15px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
}

#top_nav a:last-child{
  border-right: 1px solid #ffffff;
}

#top_nav a:hover {
 //color: #3a3a3a;
 //background-color: #dce9d9;
 background-color: #2f636f; 
 color:#fff;
}

a.selected {
    //background: #6e9169 none repeat scroll 0 0;
    background: #2f636f none repeat scroll 0 0;
    color: #fff !important;
}

@media screen and (max-width: 319px) {
    #top_nav a {
        border-radius: 8px;
        -moz-border-radius:8px;
        -webkit-border-radius:8px;
        background-color: #3c7c8b;
        margin-bottom:5px;
        float: left;
        margin-bottom: 5px;
        width: 100px;
        font-size:11px;
    }
    
    #top_nav {
        background-color:none;
        margin-left: 5px;
    }    
}

@media screen and (min-width: 320px) /* and (min-height: 440px) */ and (max-width: 479px){
    #top_nav a {
        border-radius: 8px;
        -moz-border-radius:8px;
        -webkit-border-radius:8px;
        background-color: #3c7c8b;
        margin-bottom:5px;
        float: left;
        margin-bottom: 5px;
        width: 115px;
        font-size:11px;
    }
    
    #top_nav {
        background-color:none;
        margin-left: 5px;
    }

}

@media screen and (min-width: 480px) /* and (min-height: 440px) */ and (max-width: 767px) {
    #top_nav a {
        border-radius: 8px;
        -moz-border-radius:8px;
        -webkit-border-radius:8px;
        background-color: #3c7c8b;
        margin-bottom:5px;
        float: left;
        font-size: 11px;
        margin-bottom: 5px;
        width: 100px;
        padding:14px !important;
    }
    
    #top_nav {
        background-color:none;
    }

}

@media screen and (min-width: 768px) /* and (min-height: 440px) */ and (max-width: 881px) {
/*     #top_nav a {
        border-radius: 8px;
        -moz-border-radius:8px;
        -webkit-border-radius:8px;
        background-color: #3c7c8b;
        margin-bottom:5px;
    }
    
    #top_nav {
        background-color:none;
    } */
    
    #top_nav {
        background-color: #3c7c8b;
    }

    #top_nav a {
        float:left;
        font-size: 12px;
        padding: 15px 5px;
    }
    
    #top_nav {
        float:left;
        height:50px;
    }
}

@media screen and (min-width: 882px) {

    #top_nav {
        background-color: #3c7c8b;
    }

    #top_nav a {
        float:left;
    }
    
    #top_nav {
        float:left;
        height:50px;
    }
}